<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ywb.server.mapper.CheckInMapper">
	
	<insert id="insertBatch" parameterType="java.util.List">
	INSERT INTO checkin (course_id, student_id, created_at)  VALUES
	<foreach collection="list" item="item" index="index" open="(" close=")" separator="),(">
	#{item.course_id}, #{item.student_id}, now()
	</foreach>
	</insert>
</mapper>